<!DOCTYPE html>
<html>
  <head>
    <title> Pokemon Combiner </title>
  </head>

  <body>
    <center>
      <h1> Pokemon Combiner </h1>
      <p> Check out <a target="_blank" href="http://pokemon.alexonsager.net/"> http://pokemon.alexonsager.net/ </a> for more </p>
    <form method="post">
      Pokemon ID:
      <input type="text" placeholder="Pokemon ID" name="ID" autocomplete="off"> 
      <br>
      <input type="submit" name="submit" value="Submit">
      <input type="submit" name="submit" value="Random">
    </form>
    </center>

    {{message|safe}}

  </body>



</html>
